.services-sec {
    height: 788px;
    background-color: #EFEFEF;
    position: relative;
}
.services-sec .word-shape {
    position: absolute;
    left: -135px;
    top: 2px;
}
.services-sec .decor {
    position: absolute;
    right: -14%;
    top: 123px;
}
.services-sec .content {
    height: 100%;
}
.services-sec .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 100%;
}
.services-sec .grid-item-1 {
    grid-area: 1 / 1 / 5 / 8;
    z-index: 2;
}
.services-sec .grid-item-2 {
    grid-area: 1 / 7 / 5 / 13;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    justify-content: end;
}
.services-title {
    text-align: right;
    color: #253776;
    font-size: 2.7rem;
    font-family: "poppins-bold";
    margin-bottom: 2.5rem;
    line-height: 4.4rem;
}
.services-brief {
    text-align: right;
    color: #FFFFFF;
    font-size: 1.75rem;
    font-family: "open-sans-regular";
    max-width: 88%;
}
.items {
    display: flex;
    height: 100%;
    align-items: center;
    transform: translateX(-60px);
}
.col-one {
    transform: translateY(53px)
}
.col-two {
    transform: translateY(60px)
}
.col-three {
    transform: translateY(-60px);
}