/* Navbar */
.navbar {
    padding: 2rem 0 1rem 0 !important;
}
.navbar-nav {
    margin-right: 4%;
}
.nav-link {
    margin-right: 2em;
    font-size: 0.95em;
    font-family: "google-sans-medium" !important;
    color: #212832 !important;
}
.signup-btn {
    background-color: transparent !important;
    color: #212832  !important;
    border-color: #212832  !important;
    font-size: 0.95em  !important;
    border-radius: 5px  !important;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}
.dropdown-toggle {
    margin: 0;
}
.logo {
    width: 160px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end !important;
    }
}