.carousel-item {
    min-height: 628px;
}
.slider-caption {
    text-align: left;
    color: #444;
    margin-top: 5rem;
}
.slider-caption .slider-category {
    color: #F215B6 !important;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: "poppins-bold";
    margin-bottom: 2.3rem;
}
.slider-caption .slider-title {
    font-size: 4.6875rem;
    font-family: "volkhov-bold";
    margin-bottom: 1.2rem;
}
.slider-caption .slider-brief {
    max-width: 477px;
    font-size: 1rem;
    font-family: "poppins-medium";
}
.slider-img {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 650px;
}