$mobile: "max-width: 480px";
$tabletMin: "min-width: 481px";
$tabletMax: "max-width: 767px";
$tabletPortraitModeMin: "min-width: 768px";
$tabletPortraitModeMax: "max-width: 1024px";
$lgScreen: "min-width: 1400px";