/* Fonts */
@font-face {
  font-family: "google-sans-medium";
  src: url("assets/fonts/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "volkhov-bold";
  src: url("assets/fonts/Volkhov-Bold.ttf");
}
@font-face {
  font-family: "open-sans-regular";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

/* Main CSS */
* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  font-family: "google-sans-medium";
  overflow-x: hidden;
}

/* Main Button */
.main-btn {
  background-color: #FF7C16 !important;
  border-color: #FF7C16 !important;
  width: 150px !important;
  border-radius: 10px !important;
  height: 50px !important;
  color: #fff !important;
  font-size: 1rem !important;
}
.main-btn:hover, .main-btn:active, .main-btn:focus {
  box-shadow: none !important;
  background-color: rgb(255, 146, 62) !important;
  border-color: rgb(255, 146, 62) !important;
}