/* Fonts */
@font-face {
  font-family: "google-sans-medium";
  src: url("assets/fonts/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "volkhov-bold";
  src: url("assets/fonts/Volkhov-Bold.ttf");
}
@font-face {
  font-family: "open-sans-regular";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

/* Main CSS */
* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  font-family: "google-sans-medium";
  overflow-x: hidden;
}